<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/HomeCSS.css">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="list1">
                <br><img src="/Images/apple.png"><a href="/apple">Apple</a><br><br><hr>
            </div>
            <div class="list1">
                <br><img src="/Images/amazon.png"><a href="/amazon">Amazon</a><br><br><hr>
            </div>
            <div class="list1">
                <br><img src="/Images/google.png"><a href="/google">Google</a><br><br><hr>
            </div>
            <div class="list1">
                <br><img src="/Images/intel.png"><a href="/intel">Intel Corp</a><br><br><hr>
            </div>
            <div class="list1">
                <br><img src="/Images/meta.png"><a href="/meta">Meta</a><br><br><hr>
            </div>
            <div class="list1">
                <br><img src="/Images/netflix.png"><a href="/netflix">Netflix</a><br><br><hr>
            </div>
            <div class="list1">
                <br><img src="/Images/nvdia.png"><a href="/nvdia">NVDIA</a><br><br><hr>
            </div>
            <div class="list1">
                <br><img src="/Images/palantir.png"><a href="/palantir">Palantir</a><br><br><hr>
            </div>
            <div class="list1">
                <br><img src="/Images/tesla.png"><a href="/tesla">Tesla</a><br><br>
            </div>
        </div>
        <div class="right">
            <div class="top">
                <h1>Stock Market Predictor using Real Time Dataset</h1>
            </div>
            <div class="middle"></div>
            <div class="bottom"></div>
        </div>
    </div>
</body>
</html>